/* reset */
.img-item {
  display: block;
}

/* util */
/* irì€ img-replace */
.ir {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #EAE8FE;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 748px;
  justify-content: center;
  margin: 0 auto;
}

#app > img {
  display: block;
  width: 386px;
  margin: 0 auto 67px;
}

.vending-machine, .my-info {
  border: solid 1px black;
  width: 360px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.vending-machine {
  margin-top: 67px;
  padding: 31px 27px 28px;
}

.list-item { 
  display: flex;
  border: solid 1px black;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list-item li:first-child ~ li:nth-child(3) {
  margin-bottom: 12px;
}

.list-item li .btn-item {
  width: 94px;
  height: 130px;
  border: 3px solid #6327FE;
  border-radius: 10px;
  /* box-sizing: border-box; */
}
.list-item li .btn-item img {
  width: 36px;
  height: 65px;
}
.list-item li .btn-item .tit-item {
  font-size: 9px;
  margin: 6px 0 7px;
}
.list-item li button .txt-item {
  background-color: #6327FE;
  color: #fff;
  font-size: 12px;
  padding: 5px 16px;
  border-radius: 50px;
  width: 70px;
  height: 22px;
}

.cont-return, .cont-put {
  /* border: solid 1px black; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.cont-return .info-balance {
  width: 200px;
  height: 33px;
  background-color: #EAE8FE;
  border-radius: 5px;
  padding: 6px 10px 7px;
  box-sizing: border-box;
}
.cont-return .info-balance .txt-balance {
  float: right;
}
.cont-return .btn-return {
  width: 94px;
  height: 33px;
  background-color: #fff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
border-radius: 5px;
  font-size: 13px;
  background-color: #fff;
}

.inp-put {
  width: 200px;
  height: 33px;
  border-radius: 5px;
}