@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* util */

.sr-only {
position: absolute;
left: -9999px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
}

body{
background-color: #000;
}

main {
padding: 120px 0 84px;
color: #fff;
font-family: "GmarketSansMedium";
font-weight: lighter;
text-align: center;
}

header {
width: 100%;
height: 265px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}

.title::before{
display: block;
width: 261px;
height: 265px;
content:'';
background: no-repeat center / 100% url("../img/clock.png");
z-index: -10;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.img-tit{
display: block;
width: 560px;
}

.intro{
text-align: center;
display: block;
margin-top: 66px;
position: relative;
}

q {
font-family: "OTEnjoystoriesBA";
font-size: 36px;
font-weight: 700;
color: #F5DF4D;
}

.quote-mark {
position: absolute;
top: 131px;
left: 50%;
transform: translateX(-50%);
}

.txt-desc{
font-family: "GmarketSansMedium";
font-size: 18px;
font-weight: 400;
width: 395px;
height: 85px;
display: block;
margin: 78px auto 0;
}

.txt-desc li{
line-height: 24px;
margin-bottom: 10px;
font-weight: normal;
vertical-align: middle;
}

.txt-desc li strong{
vertical-align: middle;
margin-bottom: 5px;
}

.txt-desc strong{
font-weight: 700;
font-size: 24px;
}


form {
font-size: 24px;
margin-top: 102px;
text-align: center
}

.input {
width: 228px;
height: 57px;
border-radius: 7px;
font-size: 24px;
padding-left: 15px;
margin: 27px 17px;
}

.btn{
display: block;
box-sizing: border-box;
text-decoration: none;
color: #000;
font-size: 24px;
background-color: #FCEE21;
padding: 21px 49px;
border-radius: 56px;
font-weight: 700;
}

.btn-submit {
width: 580px;
height: 66px;
margin: 115px auto 0;
position: relative;
}

.btn-submit::after {
display: block;
content: '';
background: no-repeat url(../img/click.png);
width: 64px;
height: 72px;
position: absolute;
right: -73px;
top: 14px;

}

.result{
margin-top: 147px;
margin: 147px 0 130px;
}

.result p {
font-size: 24px;
text-align: center;
margin-bottom: 17px;
}

.result p strong{
font-size: 72px;
margin: 0 12px;
display: inline-block;
vertical-align: middle;
}

.cont-btn{
display: flex;
justify-content: center;
margin-top: 127px;
}

.btn-share{
background-color: #fff;
margin-left: 18px;
}

footer {
font-family: 'Noto Sans KR';
text-align: center;
}
footer img {
margin-bottom: 20px;
}
footer p {
margin-bottom: 10px;
}

/* 모바일 */
@media screen and (min-device-width:320px)
and (max-device-width:480px) {
main {
  padding: 50px 0;
  margin: 0;
}

header {
  width: 100%;
  height: 106px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.img-tit {
  width: 267px;
}

.title::before{
  width: 106px;
  height: 106px;
  background: no-repeat center / 106px 106px url(../img/clock.png);
  
}

.intro q {
  font-size: 22px;
}

.txt-desc {
  margin-top: 62px;
}

.txt-desc, .txt-desc li strong {
  font-size: 14px;
}

.txt-desc li {
  text-align: center;
}
/* 
.txt-desc::before {
  display: block;
  content: 'ss';
  width: 50px;
  height: 50px;
  background: no-repeat center / 50px 50px url(../img/quotes.png);
  background-position: 50px 50px;
  border: solid 1px red;
} */

.intro .quote-mark {
  width: 302px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cont-inp {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 62px;
}
.cont-inp p {
  font-size: 14px;
}

.cont-inp .input {
  width: 156px;
  height: 37px;
  font-size: 14px;
  margin-left: 4px;
  margin-right: 4px;
}

.cont-inp .txt-wannabe .input {
  margin-bottom: 17px;
}

.cont-inp .txt-time .input {
  margin-top: 19px;
  margin-bottom: 0;
}

.cont-inp .btn-submit {
  margin-top: 49px;
  font-size: 14px;
  padding: 19px 36px 17px;
  width: 241px;
  height: 68px;
  border-radius: 13px;
  line-height: 18px;
  font-weight: 700;
}

.cont-inp .btn-submit::after {
  width: 43px;
  height: 48px;
  background: no-repeat center / 100% url(../img/click.png);
  right: -44px;
  top: 30px;
}

.result {
  margin: 64px 0 83px;
}
.result p {
  font-size: 14px;
}

.result p strong {
  margin: 0 8px;
  font-size: 24px;
}
.cont-btn {
  margin-top: 55px;
}

.btn {
  padding: 13px 17px 12px;
  border-radius: 56px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

footer img {
  width: 91px;
}

footer p {
  font-size: 9px;
}

}
