@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}


/* util */

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body{
  background-color: #000;
  padding: 120px 0 84px;
  color: #fff;
  font-family: "GmarketSansBold";

}

header {
  width: 100%;
  height: 265px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.title::after{
  display: block;
  content:'';
  background-image: url("../img/clock.png");
  width: 261px;
  height: 265px;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 40%;
}

.img-tit{
  display: block;
  width: 560px;
  z-index: 20;
}

.intro{
  text-align: center;
  display: block;
  margin-top: 66px;
  position: relative;
}

q {
  font-family: "OTEnjoystoriesBA";
  font-size: 40px;
  font-weight: 700;
  color: #F5DF4D;
}

.quote-mark {
  position: absolute;
  top: 120px;
  left: 35%;
}

.txt-desc{
  font-family: "GmarketSansMedium";
  font-size: 18px;
  font-weight: 400;
  width: 395px;
  height: 85px;
  display: block;
  margin: 78px auto 0;
}

.txt-desc li{
  height: 24px;
  margin-bottom: 10px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}

.txt-desc li strong{
  vertical-align: middle;
  margin-bottom: 5px;
}

.txt-desc strong{
  font-weight: 700;
  font-size: 24px;
}

.quote-mark {
  display: block;
  width: 493px;
  margin: 0 auto;
}


form {
  font-size: 24px;
  margin-top: 102px;
  text-align: center
}

.input {
  width: 228px;
  height: 57px;
  border-radius: 7px;
  font-size: 24px;
  padding-left: 15px;
  margin: 27px 17px;
}

.btn{
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  background-color: #FCEE21;
  padding: 21px 49px;
  border-radius: 56px;
  font-weight: 700;
}

.btn-submit {
  width: 580px;
  height: 66px;
  margin: 115px auto 0;
}

.result{
  margin-top: 147px;
  margin: 147px 0 130px;
}

.result p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 17px;
}

.result p strong{
  font-size: 72px;
  margin: 0 12px;
  display: inline-block;
  vertical-align: middle;
}

.cont-btn{
  display: flex;
  justify-content: center;
  margin-top: 127px;
}

.btn-share{
  background-color: #fff;
  margin-left: 18px;
}

footer {
  font-family: 'Noto Sans KR';
  text-align: center;
}
footer img {
  margin-bottom: 20px;
}
footer p {
  margin-bottom: 10px;

}
